﻿@model Skywalker.Webshop.Models.AddressPart
<fieldset>
    <div class="editor-label">@Html.LabelFor(x => x.Type)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Type)</div>
 
    <div class="editor-label">@Html.LabelFor(x => x.CustomerId)</div>
    <div class="editor-field">
        @Html.EditorFor(x => x.CustomerId)
        @Html.ValidationMessageFor(x => x.CustomerId)
    </div>
</fieldset>